<nav class="menu-bar" ng-controller="NavbarController" ng-hide="$state.includes('wip')">
    <ul class="list-unstyled">
        <li><a href="#meist" du-smooth-scroll>meist</a></li>
        <li><a href="#programm" du-smooth-scroll>programm</a></li>
        <li><a href="#piletid" du-smooth-scroll>piletid</a></li>
        <li><a href="#asukoht" du-smooth-scroll>asukoht</a></li>
        <li><a href="#transport" du-smooth-scroll>transport</a></li>
        <li><a href="#toitlustus" du-smooth-scroll>toitlustus</a></li>
        <li><a href="#majutus" du-smooth-scroll>majutus</a></li>
        <li><a href="#vaba-aeg" du-smooth-scroll>vaba-aeg</a></li>
    </ul>
</nav>